#game {
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
}


/* Loading */


/* Center the loader */

#loading #loader,
#loading .text {
    position: absolute;
    top: 50%;
    z-index: 1;
}

#loader {
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -110px 0 0 -56px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loading .text {
    width: 100%;
    margin-top: 27px;
    text-align: center;
    font-size: 14pt;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


/* Menu */

.menu {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.menu .logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    height: 200px;
}

.menu .cardnumber {
    font-size: 16pt;
    margin-bottom: 15px
}

.menu .cardnumber input {
    width: 100px;
    text-align: center;
    margin: auto;
    margin-top: 6px;
}


/* Credits */

.credits {
    margin-bottom: 25px;
}

.credits h2 {
    text-align: center;
    margin-top: 25px;
}

.credits table {
    margin-top: 15px;
}